<h2>*** 1 - RESTful Web Service - GET (retrieveAllBooks) ***</h2>

<div *ngIf="errorMessage" class="errorText">
	{{errorMessage}}
</div>

<table border="1" style="width: 500px; cellpadding: 3px; cellspacing: 1px;">
	<thead>
		<tr>
			<th>ID</th>
			<th>ISBN</th>
			<th>Title</th>
			<th>Author</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let book of books">
			<td>{{book.id}}</td>
			<td>{{book.isbn}}</td>
			<td>{{book.title}}</td>
			<td>{{book.author}}</td>
		</tr>
	</tbody>
</table>

<h2>*** 2 - RESTful Web Service - GET (retrieveBook) ***</h2>

<div *ngIf="errorMessage" class="errorText">
	{{errorMessage}}
</div>

<table *ngIf="!errorMessage" border="1" style="width: 500px; cellpadding: 3px; cellspacing: 1px;">
	<tbody>
		<tr>
			<th>ID</th>
			<td>{{book.id}}</td>			
		</tr>
		<tr>
			<th>ISBN</th>
			<td>{{book.isbn}}</td>			
		</tr>
		<tr>
			<th>Title</th>
			<td>{{book.title}}</td>			
		</tr>
		<tr>
			<th>Author</th>
			<td>{{book.author}}</td>			
		</tr>		
	</tbody>
</table>

<h2>*** 3 - RESTful Web Service - PUT ***</h2>

<div *ngIf="infoMessage" class="infoText">
	{{infoMessage}}
</div>
<div *ngIf="errorMessage" class="errorText">
	{{errorMessage}}
</div>

<table border="1" style="width: 500px; cellpadding: 3px; cellspacing: 1px;">
	<tbody>		
		<tr>
			<th>ISBN</th>
			<td><input type="text" [(ngModel)]="book.isbn" /></td>
		</tr>
		<tr>
			<th>Title</th>
			<td><input type="text" [(ngModel)]="book.title" /></td>			
		</tr>
		<tr>
			<th>Author</th>
			<td><input type="text" [(ngModel)]="book.author" /></td>
		</tr>
		<tr>
			<td colspan="2">
				<button (click)="createBook()">Create Book</button>
			</td>
		</tr>
	</tbody>
</table>

<h2>*** 4 - RESTful Web Service - POST ***</h2>

<div *ngIf="infoMessage" class="infoText">
	{{infoMessage}}
</div>
<div *ngIf="errorMessage" class="errorText">
	{{errorMessage}}
</div>

<table *ngIf="!errorMessage" border="1" style="width: 500px; cellpadding: 3px; cellspacing: 1px;">
	<tbody>		
		<tr>
			<th>ISBN</th>
			<td><input type="text" [(ngModel)]="book.isbn" /></td>
		</tr>
		<tr>
			<th>Title</th>
			<td><input type="text" [(ngModel)]="book.title" /></td>			
		</tr>
		<tr>
			<th>Author</th>
			<td><input type="text" [(ngModel)]="book.author" /></td>
		</tr>
		<tr>
			<td colspan="2">
				<button (click)="updateBook()">Update Book</button>
			</td>
		</tr>
	</tbody>
</table>

<h2>*** 5 - RESTful Web Service - DELETE ***</h2>

<div *ngIf="infoMessage" class="infoText">
	{{infoMessage}}
</div>
<div *ngIf="errorMessage" class="errorText">
	{{errorMessage}}
</div>

<table *ngIf="!errorMessage" border="1" style="width: 500px; cellpadding: 3px; cellspacing: 1px;">
	<tbody>
		<tr>
			<th>ID</th>
			<td>{{book.id}}</td>			
		</tr>
		<tr>
			<th>ISBN</th>
			<td>{{book.isbn}}</td>			
		</tr>
		<tr>
			<th>Title</th>
			<td>{{book.title}}</td>			
		</tr>
		<tr>
			<th>Author</th>
			<td>{{book.author}}</td>			
		</tr>
		<tr>
			<td colspan="2">
				<button (click)="deleteBook()">Delete Book</button>
			</td>
		</tr>
	</tbody>
</table>